header {
    background-color: rgb(86, 248, 154);
}
header img{
    height: 120px;
    max-width: 80%;
}
body {
    background-color: white;
}
.login {
    background-color: #FFE521;
    padding: 20px;
    border-radius:20px; 
}
.login h3{
    background-color: rgba(86, 248, 154,.7);
    padding: 10px;
    text-align: center;
}
.login form{
    padding: 5px;
    text-align: center;
    font-size: .8em;    
}
button {
    background-color: rgb(255, 0, 158);
    padding: 14px;
    font-weight: bold;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 70%;
}
input[type=text], input[type=password] {
    width: 70%;
    padding: 12px 15px;
    margin: 8px 0;
}

@media only screen and (min-width:600px) {
    header img{
        max-width: 100%;
    }
    button {
        width: 50%;
    }
    .login form{
        font-size: 1.5em;    
    }
  }