body {
  margin: 0;
  padding: 0;
  background-color: #f0eaed;
 /* background-color: #e1c9bf;*/
  background-size: cover;
  font-family: 'Righteous', cursive;
}
table{
 max-width:90%;
}


.fila{
  display: flex;
}

.col-60{
  width:65%;
  margin-top: 45px;

}

.col-40{
  width: 35%;
}

#tableData{
  margin-left: 15px;
}
.navbar{
  background-color: black !important;
  height: 76px;
  width:100%;
  padding:0;
  margin: 0;
  font-family: 'Righteous', cursive;
}

.Lab{
    height: 80px;
    width: 60%;
    margin: 0;
    margin-left: 13%;
    padding: 0;
}

.salir{
  margin-right: 40px;
  font-size: 1.1em;
  color:black;
  height: 35px;
  width: 87px;
}

#select-campus{
  font-size: 1em;
  font-family: 'Righteous', cursive;
  border-radius: 7px;
  width: 47%;
  margin: 0px;
  margin-left: 80px;
}

.sede{
  font-family: 'Righteous', cursive;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  width: 50%;
  margin-left: 70px;
}

#select-generation{
  font-size: 1em;
  font-family: 'Righteous', cursive;
  border-radius: 7px;
  width: 47%;
  margin: 0px;
  margin-left: 80px;
}

.generaciòn{
  font-family: 'Righteous', cursive;
  font-size: 1.3em;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
  width: 50%;
  margin-left: 70px;
}

#name-to-search{
  width: 45%;
  font-size: 1em;
  height: 40px;
  margin-left: 70px;
  text-align: center;
}

.busqueda{
  margin-top: 55px;
}

#search{
  background-color:black !important;
  color:#ffe426 !important;
  border: none;
  height: 40px;
  border-radius:0 6 6 0px;
}

.form-group{
  font-family: 'Righteous', cursive;
}

.uno{
  margin: 0px;
  display: inline-block;
}
.dos{
  margin: 0px;
  display: inline-block;

}

#view{
  background-color:black !important;
  color: #ffe426 !important;
  font-size: 1.1em;
  border: none;
  height: 40px;
  width: 17%;
  border-radius:7px;
  margin-top: 30px;
  margin-left: 155px;
}



/* sirve la media para decir apartir de 600 se hara mas grande por lo tanto puse tamaño pequeño a todo*/
/*@media only screen and (min-width:600px) {
    header img{
        max-width: 100%;
    }
    button {
        width: 50%;
    }
    .login form{
        font-size: 1.5em;
    }
  }
*/

